<!doctype html>
<html>
<head>
    #show[inc.title]#
    #show[inc.head]#
</head>

<body>

#show_tmpl[inc.official]#

<div class="boby-container">

    #show[inc.header_widget]#

    <div class="wrapper_content">
        #show[inc.menu_widget]#

        <div class="body">
            <div class="body-cont-left">
                #show[catalog.main]#
            </div>
            <div class="body-right">
                #show[inc.adv_left]#
            </div>
            <div class="clear"><!-- --></div>
        </div>


        <div class="clear"><!-- --></div>
    </div>
    #show[inc.footer_widget]#
</div>

</body>
</html>