<!doctype html>
<html>
<head>
    #show[inc.title]#
    #show[inc.head]#
</head>

<body>

#show_tmpl[inc.official]#

<div class="boby-container">


    <div class="wrapper_content">


        <div class="body">
            <div class="body-cont main">

                <br /><br /><br /><br /><br />
                <center>
                    <div style="">
                        <a class="logo" href="http://wm-rb.net"><img src="http://wm-rb.net/img/logo.gif" alt="WM-RB.net — Сервис автоматического обмена электронных валют."></a>
                    </div><br /><br />
                    <h1> Извините, но в данный момент на сайте ведутся технические работы. <br>Посетите сайт немного позже. </h1></center>
            </div>
            <div class="body-right">

            </div>
            <div class="clear"><!-- --></div>
        </div>


        <div class="clear"><!-- --></div>
    </div>

</div>

</body>
</html>