<meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta name="robots" content="INDEX,FOLLOW" />
<meta http-equiv="Last-Modified" content="{last_modified}"/>
<meta http-equiv="Expires" content="{expires}"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="COPYRIGHT" content="Copyright (c) by Wm-Rb.net">
<meta name='yandex-verification' content='7e52b4e6f0688ec4' />
<link rel="stylesheet" href="{STATIC_URL}/static/assets/{dynamic_hesh}/css/default.css" type="text/css">
<link rel="shortcut icon" HREF="{STATIC_URL}/img/favicon.ico" type="image/x-icon">
<script src="{STATIC_URL}/static/assets/{dynamic_hesh}/js/html5fix.js" type="text/javascript"></script>
<script src="{STATIC_URL}/static/assets/{dynamic_hesh}/js/vs.js" type="text/javascript"></script>
<script src="{STATIC_URL}/static/assets/{dynamic_hesh}/js/function.js" type="text/javascript"></script>