AddType application/x-httpd-php .aspx
AddDefaultCharset utf-8

Options -Indexes

DirectoryIndex index.aspx

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} (.*/[^/.]+)($|\?)
RewriteRule .* %1/ [R,L,QSA]
RewriteRule   ^(api)/?(([a-zA-Z0-9\_\-]+)/?)?$  api.aspx?controller=$1&object=$3 [L]
RewriteRule   ^([a-zA-Z0-9\_\-]+)/?(([a-zA-Z0-9\_\-]+)/?)?$  index.aspx?controller=$1&object=$3

