{content_left}

        <!--div style="border: 1px solid #000;float:left">
            <div style="width:468px;">asdas</div>
        </div-->
<div class="body-cont-center">
    {content}
</div>
{content_right}