<div class="body-right">
    {content_right}
    <div class="under-right">
        <!-- Mestkom code BEGIN -->
        <script type="text/javascript" src="http://dynamic.exaccess.ru/asp/dynamic_script.asp?id_d=780806"></script>
        <!-- Mestkom code END -->
    </div>
</div>
