<div class="left-banner">
	<a href="http://www.aforex.ru/s/4421"><img src="http://aforex.ru/assets/partner_banner_images/images/43/partner_start_200-200.gif" alt="banner-200x200-ForexStart"></a> 
</div>
