<script type="text/javascript">
    var HOME_URL = '{HOME_URL}';
</script>
<div id="left_panel" class="begin-up"><div>↑</div></div>
<div class="substrate" id="substrate"></div>
<div id="notifyblock"><div id="notify"></div></div>
<div id="loadingblock"><div class="loadingDoc" id="sl"><img src="{STATIC_URL}/img/loader.gif" width="16" height="16" alt="" /><span class="textLoadDoc">{L_loading}</span></div></div>
<div class="disableBg" id="disableBg"></div>